<h1>What is the person's allergy score?</h1>
<h2>Please enter a number between greater than or equal to 1, and less than or egual to 255.</h2>
<form action='/allergies'>
  <div class='form-group'>
    <label for='score'>Score</label>
    <input id='score' name='score' class='form-control' type='text'>
  </div>

  <button type='submit' class='btn'>Check Allergies</button>
</form>
